<main class="main" xmlns:position="http://www.w3.org/1999/xhtml">
  <div class="content">
    <div class="left-side">
      <h1>Student App</h1>
      <p>Angular in Session</p>
    </div>

    <div *ngIf="dataClass">
      <ul>
        <li *ngFor="let item of dataClass">
          {{item.name}}
           {{item.date}}
        </li>
      </ul>
    </div>
    <div *ngIf="studentList" id="attendance">
       <ul>
        <li *ngFor="let item of studentList">
          {{item}}
          <select #attending (change)="addElement(attending.value, item)">
          <option value="P">P (Present)</option>
          <option value="S">S (Sick)</option>
          <option value="A">A (Absent)</option>
        </select>
           <select #behaviourType (change)="setBehaviourType(behaviourType.value, item)" style="position:absolute; margin-left:20%;">
             <option value="M">Minor Grievance</option>
          <option value="C">Concerning Behaviour</option>
          <option value="SV">Severe Behaviour</option>
        </select>
          <input #comments (change)="setCommentList(comments.value, item)" style="position:absolute; margin-left:80%;" />
        </li>
      </ul>
      <button style="position:absolute;" (click)="sendAttendance()">Send Attendance</button>
    </div>

     <div *ngIf="namesList" id="selectClass">
       <select #classReg>
        <option *ngFor="let item of namesList" [value]="item">
          {{item}}
        </option>
      </select>
       <button (click)="setClass(classReg.value)">Grab Class</button>
    </div>

     <div *ngIf="report" id="report">
       <div *ngFor="let item of report">
        <p>{{item.name}}</p>
         <p>{{item.percent}}</p>
         <p>{{item.sick}} sick days</p>
         <p>{{item.absent}} no show days</p>
       </div>
    </div>

    <div *ngIf="studentList" id="studentReports">
       <select #studentName (change)="setStudent(studentName.value)">
        <option *ngFor="let item of studentList" [value]="item">
          {{item}}
        </option>
      </select>
     <button (click)="getReport()">Get overall attendance report</button>
    </div>

  </div>
</main>
