/* You can add global styles to this file, and also import other style files */
#studentReports{
  position:absolute;
  right:6%;
}

#studentBehaviourReports{
  position:absolute;
  right:3%;
  top:40%;
}

#selectClass{
  position:absolute;
  left:10%;
}

#attendance{
  position:absolute;
  left:30%;
  top:20%;
  font-size:22px;
}

#report{
  position:absolute;
  right:10%;
  top:25%;
}

#report2{
  position:absolute;
  right:10%;
  top:50%;
}
